In [16]:
#Exercise 2 - Create a markdown cell with the title of the notebook.

# Data Science Tools and Ecosystem

In [2]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [14]:
#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

+ Languages used by Data Scientists
+ Libraries used by Data Scientists
+ Data Science Tools
+ Evaluating arithmetic expressions in python

In [2]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R
4. Julia
5. Scala
6. SQL

In [3]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. TenserFlow
2. NumPy
3. Matplotlib
4. Pandas
5. Keras
6. Scipy

In [1]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------|
|TenserFlow|
|RStudio|
|Apache Spark|

In [5]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [7]:
#his a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

In [9]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
#This will convert 200 minutes to hours by diving by 60

In [11]:
200/6

33.333333333333336

In [15]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author ##

Muskaan Jain